body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    min-height: 100vh;
    margin: 0;
}

.square {
    margin-bottom: 50px;
    width: 40%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    backdrop-filter: blur(7px);
    margin: 300px auto;
    padding: 0;
}


.Nom_boutique {
    text-decoration: none;
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    color: white;
    padding: 10px;
    transition: 0.3s;
    font-size: 55px;
    margin: 10px 5px 0 5px;
}

.Nom_boutique:hover {
    color: white;
    transform: translateY(-10px);
}


.Lien {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 10px;
    transition: 0.3s;
    margin-right: 10px;
    font-size: 20px;
}

.Lien:hover {
    transform: translateY(-10px);
}


form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin: 20px auto 40px auto;
}

form input[type="text"] {
    width: 250px;
    padding: 12px 18px;
    border: 1px solid rgb(191, 188, 188);
    border-right: none;
    border-radius: 30px 0 0 30px;
    font-size: 16px;
    outline: none;
    background: white;
    transition: 0.25s;
}

form input[type="text"]:focus {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

form input[type="submit"] {
    padding: 12px 18px;
    border: 1px solid rgb(191, 188, 188);
    border-left: none;
    border-radius: 0 30px 30px 0;
    background: white;
    cursor: pointer;
    font-size: 16px;
    transition: 0.25s;
}

form input[type="submit"]:hover {
    background: white;
}


.navabar { 
    position: fixed; 
    top: 20px; 
    left: 20px; 
    z-index: 100; 
   
    
} 

.navabar button { 
    font-size: 28px; 
    padding: 8px 12px; 
    cursor: pointer; 
    transition: 0.3s; 
    border: 2px solid white; 
    border-radius: 20px; 
    backdrop-filter: blur(7px); 
} 
.navabar ul { 
    margin: 10px 0 0 0; 
    padding: 12px; 
    list-style: none; 
    border: 2px solid rgb(255, 255, 255); 
    border-radius: 20px; 
    backdrop-filter: blur(7px); 
    width: 150px; 
    animation: fadeIn 0.25s ease; 
}
.presentation {
    width: 80%;
    margin: 350px auto;
    border: 2px solid white;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    padding: 20px;
}

.ligne {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.bloc-image {
    margin: 20px;
    width: 250px;
    height: 300px;
    flex-shrink: 0;
}

.bloc-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.bloc-texte {
    color: white;
    max-width: 600px;
}

.bloc-texte h2 {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 500;
}

.bloc-texte p {
    font-size: 18px;
    line-height: 1.6;
    opacity: 0.9;
}


footer {
    width: 100%;
    backdrop-filter: blur(20px);
    color: white;
    font-family: 'Georgia', serif;
    padding: 1px;
    text-align: center;
    
}

footer h2 {
    font-size: 24px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

footer p {
    font-size: 14px;
    margin: 6px 0;
}

.footer-contact {
    margin: 20px 0;
}

.footer-socials a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.footer-socials a:hover {
    text-decoration: underline;
}

.footer {
    margin-top: 25px;
    font-size: 12px;
    opacity: 1;
}

.shop {
    margin-left: 100px;
}

.name_category {
    font-weight: bold;
    text-decoration: underline;
    color: white;
    font-family: "Copperplate", "Copperplate Gothic", serif;
    margin-bottom: 10px;
}

.name_category h2 {
    color: #ffffff;
}

.article_item {
    display: inline-block;
    background-color: transparent;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    border: 3px solid white;
    backdrop-filter: blur(20px);
    margin-bottom: 20px;
}

.article_item h3 {
    color: white;
}

.article_item img {
    width: 150px;
    height: auto;
    border-radius: 20px;
    border: 3px solid white;
}

.article_item p {
    color: rgb(255, 255, 255);
}

.article img {
    width: 100px;
    height: 100px;
}

.article_item:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.result-list {
    list-style: none;
}

.result-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 300px;
    height: auto;
    margin-bottom: 20px;
    color:#ffffff;
    border: 3px solid white;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    padding: 10px;
}


.result-item img {
    width: 100px;
    height: auto;
    border-radius: 10px;
    border: 3px solid white;
}

.result-content {
    margin-top: 20px;
    max-width: 600px;
}


.form_modif {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    border-radius: 10px;
    backdrop-filter: blur(20px);
}

button {
    padding: 10px;
    border-radius: 20px;
}

.btn {
    text-decoration: none;
    color: black;
}

.add-form {
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    color: white;
    border: 3px solid white;
    border-radius: 10px;
    backdrop-filter: blur(20px);
}

.product_description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 3px solid white;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    padding: 10px;
    color: white;
}

.product_description img {
    border: 3px solid white;
    border-radius: 20px;
    width: 400px;
    height: auto;
}

input {
    border-radius: 5px;
}

h1 {
    color: white;
    text-align: center;
}

.squareup {
    margin-bottom: 50px;
    width: 40%;
    border: 2px solid white;
    border-radius: 20px;
    backdrop-filter: blur(7px);
    margin: 75px auto;
    padding: 0;
}

.Liencon {
    margin-left: 425px;
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
}

.contenu__geral {
  width: 80%;
  margin: 200px 120px;
  display: flex;
  justify-content: center;
  
}


.container {
  width: 90%;
  max-width: 1200px;
}


.container-carrossel {
  overflow: hidden;
  position: relative;
}


.carrossel {
  display: flex;
  gap: 60px;
  animation: scroll 30s linear infinite;
}


.carrossel-item {
  min-width: auto;
  height: auto;
  border-radius: 25px;

  
  backdrop-filter: blur(6px);

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.cadre-info-services {
    width: 80%;
    margin: 100px auto;
    border: 2px solid white;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    padding: 20px;
}

.bloc-info-services {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.bloc-maps {
    margin: 20px;
    width: 500px;
    height: 500px;
    flex-shrink: 0;
}

.bloc-maps iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.bloc-texte {
    color: white;
    max-width: 300px;
}

.bloc-texte h2 {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 500;
}

.bloc-texte p {
    font-size: 18px;
    line-height: 1.6;
    opacity: 0.9;
}

.info-services-square {
    margin-bottom: 50px;
    width: 40%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    backdrop-filter: blur(7px);
    margin: 10px auto;
    padding: 0;
}


.info-services-Nom_boutique {
    text-decoration: none;
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    color: white;
    padding: 10px;
    transition: 0.3s;
    font-size: 30px;
    margin: 5px 5px 0 5px;
}

.info-services-Nom_boutique:hover {
    color: white;
    transform: translateY(-10px);
}


.Lien {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 10px;
    transition: 0.3s;
    margin-right: 10px;
    font-size: 20px;
}

.Liencon:hover {
    transform: translateY(-10px);
}
