body {
  height: 100vh;

  background: 
    linear-gradient(to bottom right,          
      #A67956 0%,                             
      #A67956 50%,                            
      white 50%,                              
      white 100%
    );
}



.Nom_boutique{
    text-decoration: none;
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    color: #ffffff;
    border: 2px solid #A67956;
    border-radius: 50px;
    padding: 10px;
    background-color: #A67956;
    transition: 0.3s;
    font-size: 55px;
    margin-left: 5px;
}

.Lien{
    text-decoration: none;
    display: inline-block;
    color: #A67956;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
    margin-right: 10px;
}

a:hover{
    color: black
}


nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    gap: 15px;
}

.Placement{
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    
}


form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin-top: 20px;
    margin-left: 20px;
}


form input[type="text"] {
    width: 250px;
    padding: 12px 18px;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 30px 0 0 30px;
    font-size: 16px;
    outline: none;
    background: #fff;
    transition: 0.25s;
}

form input[type="text"]:focus {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}


form input[type="submit"] {
    padding: 12px 18px;
    border: 1px solid #ddd;
    border-left: none;
    border-radius: 0 30px 30px 0;
    background: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: 0.25s;
}

form input[type="submit"]:hover {
    background: #f5f5f5;
}

/*      CSS - Shop   */
.name_category {
    font-weight: bold;
    text-decoration: underline;
    color: white;
    font-family: "Copperplate", "Copperplate Gothic", serif;
}

.name_category h2 {
    color: #A67956;;
}

.article_item {
    display: grid;
    display: inline-block;
    background-color: bisque;
    padding: 10px;
    border-radius: 20px;
}

.article_item h3 {
    color:#A67956;
}

.article_item img {
    width: 150px;
    height: auto;
    border-radius: 20px;
}

.article_item p {
    color: black;
}

.product_description img {
    width: 100px;
    height: auto;
}