body {
    height: 100vh;
    background-color: rgb(255, 255, 255);
}
.square {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 40%;
    padding: 0px;
    border: 2px solid white;
    border-radius: 20px;
    

    backdrop-filter: blur(7px);
}

.Nom_boutique{
    text-decoration: underline;
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    color: #ffffff;
    padding: 10px;
    transition: 0.3s;
    font-size: 55px;
    margin-left: 5px;
    margin-top: 10px;
   font-family: "Playfair Display", serif;
}


.Nom_boutique:hover {
    color: white;
    transform: translateY(-10px);
}
.Lien{
    text-decoration: underline;
    display: inline-block;
    color: #ffffff;
    padding: 10px;
    transition: 0.3s;
    margin-right: 10px;
    font-size: 20px;
}
.Lien:hover {
    color: white;
    transform: translateY(-10px);
}
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    gap: 15px;
}

.Placement{
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin-bottom: 20px;
    margin-left: 20px;
}


form input[type="text"] {
    width: 250px;
    padding: 12px 18px;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 30px 0 0 30px;
    font-size: 16px;
    outline: none;
    background: #fff;
    transition: 0.25s;
}

form input[type="text"]:focus {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}


form input[type="submit"] {
    padding: 12px 18px;
    border: 1px solid #ddd;
    border-left: none;
    border-radius: 0 30px 30px 0;
    background: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: 0.25s;
}

form input[type="submit"]:hover {
    background: #f5f5f5;
}
